.exercise-container {
  margin-top: 30px;
}

/* Header bleu un peu plus étroit, centré, avec bords arrondis */
.exercise-container h1 {
  max-width: 80%;
  margin: 20px auto 10px;
  border-radius: 3px;
}

/* Paragraphe sombre de la PART III */
.para {
  background-color: #282c34;
  color: white;
  padding: 20px;
  font-family: Arial;
  text-align: center;

  max-width: 80%;
  margin: 10px auto 20px;
  border-radius: 3px;
}


.react-image {
  width: 300px;
  max-width: 100%;
  margin: 20px 0;
}
