.App {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}

.exercise {
  margin-top: 20px;
}

.vote-container {
  margin-top: 10px;
  width: 300px;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid#e3e3e3;
  background-color: #ffffff;
}

.vote-container h2 {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.language-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5bbd9;
  padding: 20px 10px;
  border-radius: 4px;
  margin-bottom: 8px;
}

.language-votes {
  width: 30px;
  text-align: center;
}

.language-name {
  flex: 1;
  margin-left: 20px;
}

.language-button {
  border: none;
  background: none;
  color: rgb(82, 11, 48);
  font-weight: bold;
  cursor: pointer;
}
