body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  transition: background-color 0.5s ease;
}

.app {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

/* carte de citation */
.quote-box {
  background-color: #ffffff;
  width: 70%;
  max-width: 700px;
  min-height: 200px;
  border-radius: 16px;
  padding: 30px 10px;
  border-top: 6px solid transparent;
}

/* texte de la citation */
.quote-text {
  font-size: 1.7rem;
  font-weight: 800;
  margin: 0 0 25px 0;
}

/* auteur aligné à droite */
.quote-author {
  text-align: right;
  font-size: 0.95rem;
  font-style: italic;
  margin: 0 0 25px 0;
}

/* bouton */
.quote-button {
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left:  75%;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease,
    box-shadow 0.3s ease;
}

.quote-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.quote-button:active {
  transform: translateY(1px);
  box-shadow: none;
}
